<!doctype html>
<html lang="en" ng-app="appCadastro">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Controle de Animes Baixados</title>
    <script type="text/javascript" src="dist/js/angular.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    
  </head>

  <body ng-controller="appEpisodioCtrl">

   <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
          
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="index.html">Controle de Animes Baixados</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            
            <a  ng-show="usuario == undefined" class="btn btn-sm btn-outline-secondary" href="cadastro.html">Cadastrar </a>
            
          </div>
          <a ng-show="usuario == undefined" class="btn btn-sm btn-outline-secondary" href="login.html">Entrar</a>
           <a ng-show="usuario != undefined" class="btn btn-sm btn-outline-secondary" ng-click="removeUsuario()" href="index.html">Sair</a>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" ng-show="usuario != undefined" ng-click="getMeusAnimes(usuario)" href="meusAnimes.html">Meu Animes</a>
         <a class="p-2 text-muted"  ng-show="usuario != undefined" ng-click="getEpisodiosBaixados(usuario)" href="episodiosBaixados.html">Episodios Baixados</a>
          <a class="p-2 text-muted" ng-show="usuario != undefined" ng-click= "getEpisodiosAssistidos(usuario)" href="episodiosAssistidos.html">Episodios Assistidos</a>

        </nav>
      </div>
      


    <div class="list-group" ng-repeat="episodio in episodiosBaixados">
  
     <a href="" class="list-group-item list-group-item-action" ng-click="adicionaEpisodios(anime)">{{episodio.episodio.numero}}  {{episodio.episodio.nome}}</a>
  
  </div>


    

        
    <footer class="blog-footer">
      <p>Construído por <a href="https://github.com/ItaloCaio"> Ítalo Carvalho</a> .</p>
      <p>
        <a href="#">Voltar para o topo da página</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
 
    <script src="dist/js/bootstrap.min.js"></script>
   
    <script src="controller/episodiosCtrl.js"> </script>
    <script >
      var html = '';

      html += '<img class="card-img-right flex-auto d-none d-lg-block" src="image/anime';
      html +=  $('#id_imagem').val();
      html +=  '.jpg" alt="Card image cap">';

      $('#imagem').append(html);

    </script>
 
  </body>
</html>
